# SQLite databases with python

In [1]:
import sqlite3

### Connect to database

In [2]:
# conn = sqlite3.connect(':memory') #cria database na mem√≥ria

conn = sqlite3.connect('customer.db')

### Create tables

In [3]:
#create a cursor
c = conn.cursor()

#create a table
c.execute("""CREATE TABLE customers (
    first_name text,
    last_name text,
    email text)""")
# TYPES:
# NULL
# INTEGER
# REAL
# TEXT
# BLOB (E.G. IMAGE)

#commit our connection
conn.commit()

In [4]:
c.execute("INSERT INTO customers VALUES ('John', 'Elder', 'john@codemy.com')")
c.execute("INSERT INTO customers VALUES ('Mary', 'Brown', 'mary@codemy.com')")
c.execute("INSERT INTO customers VALUES ('Ann', 'Gates', 'john@codemy.com')")
c.execute("INSERT INTO customers VALUES ('Rita', 'Santos', 'john@codemy.com')")

print("Command executed succesfully")

#commit our connection
conn.commit()

Command executed succesfully

In [5]:
many_customers = [
    ('Wes', 'Brown', 'wes@brown.com'),
    ('Steph', 'Kuewa', 'steph@kuewa.com'),
    ('Dan', 'Pas', 'dan@pas.com')
]

c.executemany("INSERT INTO customers VALUES (?, ?, ?)", many_customers)

print("Command executed succesfully")

Command executed succesfully

### Query

In [6]:
c.execute("SELECT * FROM customers")

c.fetchone()

('John', 'Elder', 'john@codemy.com')

In [7]:
print(c.fetchone()[0])
print(c.fetchone()[1])
print(c.fetchone()[2])

Mary
Gates
john@codemy.com

In [8]:
c.fetchmany(3)

[('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Dan', 'Pas', 'dan@pas.com')]

In [9]:
items = c.fetchall()

# print(items)
print("Name"+"\t\tEmail")
for item in items:
#     print(item)
    print(item[0]+" "+item[1]+"\t"+item[2])

Name		Email

In [10]:
c.execute("SELECT rowid, * FROM customers")

items = c.fetchall()

for item in items:
    print(item)

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')
(3, 'Ann', 'Gates', 'john@codemy.com')
(4, 'Rita', 'Santos', 'john@codemy.com')
(5, 'Wes', 'Brown', 'wes@brown.com')
(6, 'Steph', 'Kuewa', 'steph@kuewa.com')
(7, 'Dan', 'Pas', 'dan@pas.com')

In [11]:
# c.execute("SELECT * FROM customers WHERE last_name = 'Elder'")
# c.execute("SELECT * FROM customers WHERE last_name LIKE 'Br%'")
c.execute("SELECT * FROM customers WHERE email LIKE '%codemy.com'")

items = c.fetchall()

for item in items:
    print(item)

('John', 'Elder', 'john@codemy.com')
('Mary', 'Brown', 'mary@codemy.com')
('Ann', 'Gates', 'john@codemy.com')
('Rita', 'Santos', 'john@codemy.com')

### Update records

In [12]:
c.execute("""UPDATE customers SET first_name = "Bob"
        WHERE last_name = 'Elder'
    """)
conn.commit()

c.execute("SELECT rowid, * FROM customers")

c.fetchall()

[(1, 'Bob', 'Elder', 'john@codemy.com'),
 (2, 'Mary', 'Brown', 'mary@codemy.com'),
 (3, 'Ann', 'Gates', 'john@codemy.com'),
 (4, 'Rita', 'Santos', 'john@codemy.com'),
 (5, 'Wes', 'Brown', 'wes@brown.com'),
 (6, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (7, 'Dan', 'Pas', 'dan@pas.com')]

In [13]:
c.execute("""UPDATE customers SET first_name = "John"
        WHERE rowid = 1
    """)
conn.commit()

c.execute("SELECT rowid, * FROM customers")

c.fetchall()

[(1, 'John', 'Elder', 'john@codemy.com'),
 (2, 'Mary', 'Brown', 'mary@codemy.com'),
 (3, 'Ann', 'Gates', 'john@codemy.com'),
 (4, 'Rita', 'Santos', 'john@codemy.com'),
 (5, 'Wes', 'Brown', 'wes@brown.com'),
 (6, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (7, 'Dan', 'Pas', 'dan@pas.com')]

### Delete

In [14]:
c.execute("DELETE FROM customers WHERE rowid = 6")
conn.commit()

c.execute("SELECT rowid, * FROM customers")

c.fetchall()

[(1, 'John', 'Elder', 'john@codemy.com'),
 (2, 'Mary', 'Brown', 'mary@codemy.com'),
 (3, 'Ann', 'Gates', 'john@codemy.com'),
 (4, 'Rita', 'Santos', 'john@codemy.com'),
 (5, 'Wes', 'Brown', 'wes@brown.com'),
 (7, 'Dan', 'Pas', 'dan@pas.com')]

### Ordering

In [15]:
# c.execute("SELECT rowid, * FROM customers ORDER BY rowid")
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC")

items = c.fetchall()

for item in items:
    print(item)

(7, 'Dan', 'Pas', 'dan@pas.com')
(5, 'Wes', 'Brown', 'wes@brown.com')
(4, 'Rita', 'Santos', 'john@codemy.com')
(3, 'Ann', 'Gates', 'john@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')
(1, 'John', 'Elder', 'john@codemy.com')

In [16]:
c.execute("SELECT rowid, * FROM customers ORDER BY rowid ASC")

items = c.fetchall()

for item in items:
    print(item)

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')
(3, 'Ann', 'Gates', 'john@codemy.com')
(4, 'Rita', 'Santos', 'john@codemy.com')
(5, 'Wes', 'Brown', 'wes@brown.com')
(7, 'Dan', 'Pas', 'dan@pas.com')

In [17]:
c.execute("SELECT rowid, * FROM customers ORDER BY first_name ASC")
# c.execute("SELECT rowid, * FROM customers ORDER BY first_name DESC")

items = c.fetchall()

for item in items:
    print(item)

(3, 'Ann', 'Gates', 'john@codemy.com')
(7, 'Dan', 'Pas', 'dan@pas.com')
(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Rita', 'Santos', 'john@codemy.com')
(5, 'Wes', 'Brown', 'wes@brown.com')

### And/Or

In [18]:
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'Br%' AND rowid=3")
# c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'Br%' OR rowid=3")

items = c.fetchall()

for item in items:
    print(item)

### Limit

In [19]:
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC LIMIT 3")

items = c.fetchall()

for item in items:
    print(item)

(7, 'Dan', 'Pas', 'dan@pas.com')
(5, 'Wes', 'Brown', 'wes@brown.com')
(4, 'Rita', 'Santos', 'john@codemy.com')

### Functions

In [20]:
#Query the database and print all records
def show_all():
    conn = sqlite3.connect("customer.db")
    c = conn.cursor()
    
    c.execute("SELECT * FROM customers")
    items = c.fetchall()
    for item in items:
        print(item)
        
    conn.close()

show_all()

('John', 'Elder', 'john@codemy.com')
('Mary', 'Brown', 'mary@codemy.com')
('Ann', 'Gates', 'john@codemy.com')
('Rita', 'Santos', 'john@codemy.com')
('Wes', 'Brown', 'wes@brown.com')
('Dan', 'Pas', 'dan@pas.com')

### Delete table

In [21]:
c.execute("DROP TABLE customers")
conn.commit()

In [22]:
#close our connection
conn.close()